token                    = "y0_AgAAb1g220tl9b1g220tl9b1g220tl9b1g220tl9"
cloud_id                 = "b1g220tl9b1g220tl9"
folder_id                = "f1g220tl9b1g220tl9"
zone                     = "ru-central1-a"
image_id                 = "s1g220tl9b1g220tl9"
public_key_path          = "~/.ssh/<path>"
subnet_id                = "k1g220tl9b1g220tl9"
service_account_key_file = "key.json"
private_key              = "~/.ssh/<path>"
